In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'], index=range(0, 20, 2))
df

           A         B         C
0  -0.302586  0.674895 -1.795249
2  -1.175066  0.799075 -1.528228
4  -0.276658  1.377690  0.385277
6   0.807592 -0.416592 -0.169467
8   0.127393  0.898107 -0.439752
10 -1.126164 -0.990062 -0.364353
12  0.277391  0.396912 -0.428005
14  2.289889 -0.586014 -0.239552
16  1.416419  0.049113  0.261055
18 -0.689253  0.825200 -1.501426

In [4]:
df[['A', 'B']] = df[['B', 'A']]
df

           A         B         C
0   0.674895 -0.302586 -1.795249
2   0.799075 -1.175066 -1.528228
4   1.377690 -0.276658  0.385277
6  -0.416592  0.807592 -0.169467
8   0.898107  0.127393 -0.439752
10 -0.990062 -1.126164 -0.364353
12  0.396912  0.277391 -0.428005
14 -0.586014  2.289889 -0.239552
16  0.049113  1.416419  0.261055
18  0.825200 -0.689253 -1.501426

In [5]:
df.loc[4, 'C']

0.3852771473831106

In [6]:
df.loc[4:, 'B']

4    -0.276658
6     0.807592
8     0.127393
10   -1.126164
12    0.277391
14    2.289889
16    1.416419
18   -0.689253
Name: B, dtype: float64

In [7]:
df.loc[0] > 0

A     True
B    False
C    False
Name: 0, dtype: bool

In [8]:
df.loc[:, 0 < df.loc[0]]

           A
0   0.674895
2   0.799075
4   1.377690
6  -0.416592
8   0.898107
10 -0.990062
12  0.396912
14 -0.586014
16  0.049113
18  0.825200

In [9]:
df.loc[lambda df: 0 < df['A'], :]

           A         B         C
0   0.674895 -0.302586 -1.795249
2   0.799075 -1.175066 -1.528228
4   1.377690 -0.276658  0.385277
8   0.898107  0.127393 -0.439752
12  0.396912  0.277391 -0.428005
16  0.049113  1.416419  0.261055
18  0.825200 -0.689253 -1.501426

In [10]:
df[0 < df['A']]

           A         B         C
0   0.674895 -0.302586 -1.795249
2   0.799075 -1.175066 -1.528228
4   1.377690 -0.276658  0.385277
8   0.898107  0.127393 -0.439752
12  0.396912  0.277391 -0.428005
16  0.049113  1.416419  0.261055
18  0.825200 -0.689253 -1.501426

In [11]:
df.query('0 < A < 0.5')

           A         B         C
12  0.396912  0.277391 -0.428005
16  0.049113  1.416419  0.261055

In [12]:
df.iloc[1]

A    0.799075
B   -1.175066
C   -1.528228
Name: 2, dtype: float64

In [13]:
df.sample(n=2, axis=0)

           A         B         C
18  0.825200 -0.689253 -1.501426
6  -0.416592  0.807592 -0.169467

In [14]:
df1 = df.sample(frac=1)
df1

           A         B         C
2   0.799075 -1.175066 -1.528228
16  0.049113  1.416419  0.261055
6  -0.416592  0.807592 -0.169467
0   0.674895 -0.302586 -1.795249
8   0.898107  0.127393 -0.439752
12  0.396912  0.277391 -0.428005
4   1.377690 -0.276658  0.385277
14 -0.586014  2.289889 -0.239552
10 -0.990062 -1.126164 -0.364353
18  0.825200 -0.689253 -1.501426

In [15]:
df1.iloc[1]

A    0.049113
B    1.416419
C    0.261055
Name: 16, dtype: float64